pushover: 
  api_key: PUSHOVER_API_KEY
  user_key: PUSHOVER_USER_KEY
twilio:
  acct_sid: TWILIO_ACCT_SID
  auth_token: TWILIO_AUTH_TOKEN
  from_number: "+12223334444"
  numbers:
    - "+12223334444"
scraperapi:
  api_key: SCRAPER_API_KEY
debug : false